<h2 class="font-bold text-lg mb-3">List of Categories</h2>

<ul>
  <li :for={category <- @categories} class="my-1">
    <.link navigate={category_anchor(category)}>
      <span class="font-semibold">
          <%= category.name %>
      </span>
    </.link>:
    <span class="italic">
      <%= category.description %>
    </span>
  </li>
</ul>
